/* ****************** NAVBAR AND HEADER FOR SITE ******************************* */
body {
    margin: 0;
}

nav {
    background-color: rgba(245,245,245, 0.7)

}
.navbarList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}


.siteTitle {
    font-size: 3em;
    padding-top: 0.2em;
}

.navListItem {
    font-size: 1.4em;
    padding-top: 1em;
}

.navLinkItem {
    text-decoration: none;
    color: black;
}
.navLinkItem:hover {
    color: #840001;
}

header {
    height: 40em;
    background-image: url('media/sitecoverphoto.jpg');
    background-position: center;

}

